<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nestedworld.nestedworld">

    <!-- To access APIs: -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- v -->

    <!-- for new relic -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- v -->

    <!-- Account manager-->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> <!-- x -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- x -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- x -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- x -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> <!-- x -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" /> <!-- x -->

    <!-- permissions for the 'MyLocation' functionality. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Geolocalisation-->
    <application
        android:supportsRtl="true"
        android:name=".NestedWorldApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Acitivty -->
        <activity
            android:name=".activity.launch.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.mainMenu.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activity.profil.ProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainMenu.MainMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".activity.fight.FightActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainMenu.MainMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".activity.chat.ChatActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainMenu.MainMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!-- Account Authenticator-->
        <service
            android:name=".authenticator.NWAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Meta data-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>
