<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nestedworld.nestedworld">

    <!-- To access APIs: -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- v -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- v -->

    <!-- Account manager-->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> <!-- x -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- x -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- x -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- x -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> <!-- x -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" /> <!-- x -->

    <!-- permissions for the 'MyLocation' functionality. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Geolocalisation-->
    <application
        android:supportsRtl="true"
        android:name=".NestedWorldApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Acitivty -->
        <activity
            android:theme="@style/AppTheme.Launcher"
            android:name=".ui.view.disconnected.launch.LaunchActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.view.connected.monster.userMonsterDetail.UserMonsterDetailActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".ui.view.connected.monster.monsterDetail.MonsterDetailActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".ui.view.disconnected.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.view.connected.main.MainMenuActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.view.connected.profil.ProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.view.connected.main.MainMenuActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".ui.view.connected.fight.FightProcessActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.view.connected.main.MainMenuActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--Service-->
        <service android:name=".data.network.socket.service.SocketService"/>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <!-- Meta data-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9d424512a46103a0bfd9135c022a439b28bac103" />
    </application>

</manifest>
